html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 250px; /* Adjust width as needed */
  background-color: #f9fafb;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Ensure sidebar takes the full height of the screen */
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
}

h1 {
  margin: 0;
}
